@font-face {
    font-family: 'TitilliumWeb';
    src: url('../fonts/TitilliumWebRegular.eot');
    src: url('../fonts/TitilliumWebRegular.eot') format('embedded-opentype'),
         url('../fonts/TitilliumWebRegular.woff2') format('woff2'),
         url('../fonts/TitilliumWebRegular.woff') format('woff'),
         url('../fonts/TitilliumWebRegular.ttf') format('truetype'),
         url('../fonts/TitilliumWebRegular.svg#TitilliumWebRegular') format('svg');
}

@font-face {
    font-family: 'Amaranth';
    src: url('../fonts/AmaranthRegular.eot');
    src: url('../fonts/AmaranthRegular.eot') format('embedded-opentype'),
         url('../fonts/AmaranthRegular.woff2') format('woff2'),
         url('../fonts/AmaranthRegular.woff') format('woff'),
         url('../fonts/AmaranthRegular.ttf') format('truetype'),
         url('../fonts/AmaranthRegular.svg#AmaranthRegular') format('svg');
}