.content-s--no-padding {
    padding: 29px 0 0 0 !important;
}

.col-md-12--no-padding {
    padding-left: 0;
    padding-right: 0;
}

.tosca-wrapper {
    background: #1bbb8d;
    padding: 50px 35px 35px 35px;
    color: #fff;
    font-size: 21px;
}

@media (min-width: 880px) {
	.tosca__middle {
		top: 50%;
	    transform: translateY(-50%);
	  	position: absolute;
	  	width: 96%;
	}
}

@media (min-width: 992px){
	.col-md-offset-1--custom {
		margin-left: 2.67%;
	}
}

@media (max-width: 991px){
	.col-md-offset-1--custom {
		margin-top: 15px;
	}
}

@media (max-width: 534px) {
	.tosca-wrapper {
	    font-size: 16px;
	    padding: 50px 5px 19px 5px;
	}
	.hu--bigger {
		font-size: 18px;
		font-weight: bold;
	}
}

@media (min-width: 533px) {
	.hu--bigger {
		font-size: 25px;
		font-weight: bold;
	}
}